<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Common Fragments</title>
</head>
<body>
  <section th:fragment="nav">
      <nav sec:authorize="isAuthenticated()">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/logout">Log Out</a>
        </nav>
      
        <nav sec:authorize="isAnonymous()">
          <h2>Log in silly hobbit</h2>
          <a href="/">Home</a>
          <a href="/login">Log In</a>
          <a href="/registration">Sign Up</a>
        </nav>
  </section>

</body>
</html>