<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Feed</title>
  <th:block th:replace="fragments/common :: css"></th:block>

</head>
<body>
  <header>
    <div th:replace="fragments/common :: nav"></div>
  </header>
  <main>
      <h4>Most recent posts</h4>
      <th:block th:each="user: ${listOfUsersIFollow}">
        <div>
          <h3 th:text="${'Recent posts from ' + user.username}"></h3>
          <th:block th:each="post: ${user.posts}">
            <span th:text="${post.body}"></span>
            <span th:text="${'Post from ' + post.createdAt}"></span>
            <p></p>
          </th:block>
          <!-- <p th:text="${post.body}"></p>
          <p th:text="${post.createdAt}"></p> -->
        </div>
      </th:block>
  </main>
</body>
</html>